/*! Place your custom styles here */

.message {
    display: none;
}

.calendar-message {
    display: none;
}

.credits, .credits a, .credits_mob, .credits_mob a {
    display: none;
}

.credits {
    display: none;
}